{include file="header" /}
<style type="text/css">
body {
    background: #f6f6f6;
}
</style>
<div class="headline-bg"></div>
<div class="main" style="position: relative;">
    <div class="w1200">
        <div class="container-top">
            <h2>{:getCategory($catid,'catname')}<span>{:getCategory($catid,'catdir')}</span></h2>
            <!--S 面包屑 -->
            <div class="bread-nav">
                <a href="">首页</a>&gt; {:catpos($catid)}
            </div>
            <!--E 面包屑 -->
        </div>
        <div class="content">
            <!--S 左侧栏目 -->
            {include file="sider" /}
            <!--E 左侧栏目 -->
            <!--S 右侧内容 -->
            <div class="content-right">
                <div class="about" deep="4">
                    {$content|raw}
                </div>
            </div>
            <!--E 右侧内容 -->
        </div>
    </div>
</div>
{include file="footer" /}