<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="__STATIC__/libs/layui/layui.js"></script>
    <link rel="stylesheet" href="__STATIC__/libs/layui/css/layui.css">
</head>

<body>
    <form class="layui-form" action="" method="post" style="padding:20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">新手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" id="mobile" required="" lay-verify="required|phone" autocomplete="off" value="" class="layui-input" placeholder="新手机号"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-inline">
                <input type="text" name="captcha" required="" lay-verify="required" autocomplete="off" value="" class="layui-input"> </div>
            <button class="layui-btn btn-captcha" type="button" data-event="changemobile" data-type="mobile" data-url="{:url('api/sms/send')}">获取验证码</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" key="set-mine" lay-filter="formSubmit" lay-submit="" lay-data="{pop:true, refresh: true}">确认修改</button>
        </div>
    </form>
    <style type="text/css">
    .layui-form-label {
        width: 60px;
        padding-left: 0;
    }

    .layui-form-item .layui-input-inline {
        float: left;
        margin: 0;
    }
    </style>
    {include file="layui" /}
</body>

</html>