<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_JETTON_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1479},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1479},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1479},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1479},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1479},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1247},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1167},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>BT_JETTON_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1507},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>avator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,71}</string>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{344,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,160}}</string>
                <key>sourceSize</key>
                <string>{344,160}</string>
            </dict>
            <key>bg_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1558},{276,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,23}}</string>
                <key>sourceSize</key>
                <string>{276,23}</string>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,404},{340,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,278}}</string>
                <key>sourceSize</key>
                <string>{340,278}</string>
            </dict>
            <key>btn_moneygift_huge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,964},{115,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,93}}</string>
                <key>sourceSize</key>
                <string>{115,93}</string>
            </dict>
            <key>clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1558},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>game_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>game_bg_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,544},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>game_bg_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,552},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>game_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1277},{200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>game_bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1507},{205,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,91}}</string>
                <key>sourceSize</key>
                <string>{205,91}</string>
            </dict>
            <key>game_bg_tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,552},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>game_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{952,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{952,174}}</string>
                <key>sourceSize</key>
                <string>{952,174}</string>
            </dict>
            <key>game_bg_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,348},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>game_boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,712},{250,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>game_boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,712},{250,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>game_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{843,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,400}}</string>
                <key>sourceSize</key>
                <string>{843,400}</string>
            </dict>
            <key>game_boss_tableview_avator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{1,1}}</string>
                <key>offset</key>
                <string>{-210.5,155.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{422,312}</string>
            </dict>
            <key>game_boss_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1167},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>game_btn_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,465},{189,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,59}}</string>
                <key>sourceSize</key>
                <string>{189,59}</string>
            </dict>
            <key>game_btn_boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,404},{189,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,59}}</string>
                <key>sourceSize</key>
                <string>{189,59}</string>
            </dict>
            <key>game_btn_boss2_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1538},{189,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,57}}</string>
                <key>sourceSize</key>
                <string>{189,57}</string>
            </dict>
            <key>game_btn_boss_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1479},{189,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,57}}</string>
                <key>sourceSize</key>
                <string>{189,57}</string>
            </dict>
            <key>game_btn_boss_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,404},{189,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,59}}</string>
                <key>sourceSize</key>
                <string>{189,59}</string>
            </dict>
            <key>game_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,928},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>game_btn_collapse.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1558},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{38,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,982},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,874},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>game_btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,820},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>game_btn_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,766},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>game_btn_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1059},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{128,108}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>game_btn_stars_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,404},{146,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,130}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>game_btn_unfold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{38,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_btn_wallet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,712},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>game_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{1,1}}</string>
                <key>offset</key>
                <string>{-67.5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{136,95}</string>
            </dict>
            <key>game_history_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,712},{773,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,453}}</string>
                <key>sourceSize</key>
                <string>{773,453}</string>
            </dict>
            <key>game_history_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,653},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>game_history_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,595},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>game_jetton_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1479},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>game_nav.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{960,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,119}}</string>
                <key>sourceSize</key>
                <string>{960,119}</string>
            </dict>
            <key>game_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1583},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>game_pokers.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1479},{65,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,94}}</string>
                <key>sourceSize</key>
                <string>{65,94}</string>
            </dict>
            <key>game_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,964},{541,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,318}}</string>
                <key>sourceSize</key>
                <string>{541,318}</string>
            </dict>
            <key>game_stars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1401},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>game_stars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1295},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>game_stars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1189},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>game_stars_user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1167},{682,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,108}}</string>
                <key>sourceSize</key>
                <string>{682,108}</string>
            </dict>
            <key>game_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,2},{708,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,66}}</string>
                <key>sourceSize</key>
                <string>{708,66}</string>
            </dict>
            <key>game_user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1507},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>gmae_stars_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{760,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,592}}</string>
                <key>sourceSize</key>
                <string>{760,592}</string>
            </dict>
            <key>gmae_stars_tableview_avator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{1,1}}</string>
                <key>offset</key>
                <string>{-344.5,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{690,381}</string>
            </dict>
            <key>pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,404},{138,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1592},{27,5}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,5}}</string>
                <key>sourceSize</key>
                <string>{37,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTable.png</string>
            <key>size</key>
            <string>{2030,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417d97279ffd6386d46bbddcf770334e:1/1$</string>
            <key>textureFileName</key>
            <string>GameTable.png</string>
        </dict>
    </dict>
</plist>
