{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">转账记录</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form search-from" method="get">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="username" placeholder="搜索玩家名称">
                    </div>
                </div>
                <div class="layui-inline">
                    <select name="transfertype" id="transfertype" lay-verify="required" lay-filter="transfertype">
                        <option value="0" selected>转账玩家</option>
                        <option value="1">收款玩家</option>
                    </select>
                </div>
                <a class="layui-btn search_btn" data-type="reload" id="search_name">搜索</a>
            </form>
        </blockquote>
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-danger confirm layui-batch-all" data-href='{:url("delete")}' isMember="0">批量删除</a>
    </div>
</script>
<script type="text/html" id="barTool">
    <a href='{:url("delete")}?ids={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
</script>
{/block}
{block name="script"}
<script>
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$,
        form = layui.form;
    table.render({
        elem: '#dataTable',
        toolbar: '#toolbarDemo',
        url: '{:url("manage")}',
        cols: [
            [
                { type: 'checkbox', fixed: 'left' },
                { field: 'id', width: 80, title: 'ID' },
                { field: 'susername', width: 150, title: '转账玩家' },
                { field: 'dusername', width: 150,title: '收款玩家' },
                { field: 'money', width: 150, title: '金额' },
                { field: 'type', width: 150, title: '转账类型' },
                { field: 'amoney',  title: '转前金币' },
                { field: 'bmoney',  title: '转前钱包金币' },
                { field: 'aftermoney', width: 150, title: '转后金币' },
                { field: 'afterbankmoney', width: 150,title: '转后钱包金币' },
                { field: 'operatedate', width: 150, title: '时间' },
                { fixed: 'right', width: 120, title: '操作', templet: '#barTool' }
            ]
        ],
        page: {}
    });

    $("#search_name").on("click", function() {
        table.reload("dataTable", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                username: $("#username").val(),
                transfertype: $("#transfertype").val()
            }
        })
    });
});
</script>
{/block}