{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">Tags编辑</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">标签 </label>
                <div class="layui-input-inline w300">
                    <input type="text" name="tag" lay-verify="required" autocomplete="off" placeholder="标签 " class="layui-input" value="{$data.tag}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">SEO标题 </label>
                <div class="layui-input-inline w300">
                    <input type="text" name="seo_title" autocomplete="off" placeholder="SEO标题" class="layui-input" value="{$data.seo_title}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">SEO关键字 </label>
                <div class="layui-input-inline w300">
                    <input type="text" name="seo_keyword" autocomplete="off" placeholder="SEO关键字" class="layui-input" value="{$data.seo_keyword}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">SEO简介</label>
                <div class="layui-input-inline w300">
                    <textarea placeholder="SEO简介" class="layui-textarea" name="seo_description">{$data.seo_description}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">点击量 </label>
                <div class="layui-input-inline w300">
                    <input type="text" name="hits" autocomplete="off" placeholder="点击量" class="layui-input" value="{$data.hits}">
                </div>
            </div>
            <input type="hidden" name="tagid" value="{$data.id}"/>
            <input type="hidden" name="oldtagsname" value="{$data.tag}"/>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                    <button class="layui-btn layui-btn-normal" type="button" onclick="javascript:history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}