{include file="header" /}
<div class="layui-tab layui-tab-brief" lay-filter="user">
    <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">我的资料</li>
        <li lay-id="avatar">头像</li>
        <li lay-id="pass">密码</li>
    </ul>
    <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
            <form class="layui-form" action="{:url('member/index/profile')}" method="post">
                <div class="layui-form-item"> <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" required="" lay-verify="required" autocomplete="off" value="{$userinfo.username}" class="layui-input" disabled style="cursor: not-allowed !important;">
                    </div>
                </div>
                <div class="layui-form-item"> <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" required="" lay-verify="required" autocomplete="off" value="{$userinfo.nickname}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item"> <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline"> <input type="text" name="mobile" required="" lay-verify="phone" autocomplete="off" value="{$userinfo.mobile}" class="layui-input" disabled style="cursor: not-allowed !important;"></div>
					{eq name="userinfo.ischeck_mobile" value="1"}
                    <button class="layui-btn layui-iframe" type="button" href="{:url('changemobile')}" lay-data="{width:'440px',height:'250px',title:'修改手机'}">修改</button>
					{else/}
                    <button class="layui-btn layui-iframe layui-btn-danger" type="button" href="{:url('actmobile')}" lay-data="{width:'440px',height:'250px',title:'激活手机'}">激活</button>
					{/eq}
                </div>
                <div class="layui-form-item"> <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline"> <input type="text" name="email" required="" lay-verify="email" autocomplete="off" value="{$userinfo.email}" class="layui-input" disabled style="cursor: not-allowed !important;"> </div>
                    {eq name="userinfo.ischeck_email" value="1"}
                    <button class="layui-btn layui-iframe" type="button" href="{:url('changeemail')}" lay-data="{width:'440px',height:'250px',title:'修改邮箱'}">修改</button>
					{else/}
                    <button class="layui-btn layui-iframe layui-btn-danger" type="button" href="{:url('actemail')}" lay-data="{width:'440px',height:'250px',title:'激活邮箱'}">激活</button>
					{/eq}
                </div>
                <div class="layui-form-item"> <button class="layui-btn" key="set-mine" lay-filter="formSubmit" lay-submit="">确认修改</button> </div>
            </form>
        </div>
        <div class="layui-form layui-form-pane layui-tab-item">
            <div class="layui-form-item">
                <div class="avatar-add">
                    <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p> <button type="button" class="layui-btn upload-img"> <i class="layui-icon"></i>上传头像 </button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                    <img src="{$userinfo.avatar}"> <span class="loading"></span>
                </div>
            </div>
        </div>
        <div class="layui-form-pane layui-tab-item">
            <form class="layui-form" action="{:url('member/index/changepwd')}" method="post">
                <div class="layui-form-item"> <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-inline"> <input type="password" name="oldpassword" required="" lay-verify="required" autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-form-item"> <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline"> <input type="password" name="newpassword" required="" lay-verify="required" autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-form-item"> <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline"> <input type="password" name="renewpassword" required="" lay-verify="required" autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-form-item"> <button class="layui-btn" key="set-mine" lay-filter="formSubmit" lay-submit="">确认修改</button> </div>
            </form>
        </div>
    </div>
</div>
{include file="layui" /}
{include file="footer" /}