{template file="member/header.html"/}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">在线投稿</li>
    </ul>
    <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote">
                <h3>【免责声明】</h3>
                <br>
                <p>1、您在发布前应先阅读发布规范。</p>
                <p>2、本站不保证能收录您发布的每一篇资讯，分享前请先明确这一点。</p>
                <p>3、您发布的资讯可能不会被网站收录，这很可能只是单方面因为网站认为本资讯不适合本站的原因而非您的资讯有问题。</p>
                <p>4、如果您发布的资讯审核通过了，但被用户举报等问题，那么网站有权对已经通过审核的文章进行删除操作。</p>
                <p>5、对于多次发布不合格咨询的会员，本站将冻结一定时间的权限。</p>
                <br>
                <p>如果您不能接受以上条款，请不要发布资讯，以免因为发布的资讯没有被收录或是已经收录的资讯被删除，而发生不愉快的事。</p>
            </blockquote>
            <div class="continued">
                <a href="{:url('publish','step=2')}" class="layui-btn">同意并发布</a>
            </div>
        </div>
    </div>
</div>
{template file="member/layui.html"/}
{template file="member/footer.html"/}