@charset "utf-8";
.w50{width:50px!important;}
.w100{width:100px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.text-danger {
    color: #d26a5c;
}
.text-info {
    color: #70b9eb;
}
.text-warning {
    color: #f3b760;
}
.text-success {
    color: #46c37b;
}
.text-primary {
    color: #5c90d2;
}
.text-center {text-align: center !important; }
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.childrenBody {padding: 15px;background-color: #F2F2F2; }
.panel_box{ margin-bottom:5px;}
.panel{ text-align:center; height:90px;}
.panel_box a{display:block;overflow:hidden; height:80px; background-color:#f2f2f2 !important; }
.panel_icon{ width:40%; display: inline-block; line-height:80px; float:left; position:relative; height:100%;}
.panel_icon i{ font-size:50px !important; color:#fff; display: inline-block;}
.panel_word{ width:60%; display: inline-block; float:right; margin:13px 0 14px; }
.panel_word span{ font-size:25px; display:block; height:34px; }
.panel .loginTime{ font-size:15px; color:#1E9FFF; line-height:34px;}
.panel em{ font-style:normal;}

.layui-table-view{overflow: auto;}
.layui-form-field-label{display: block; padding:3px 0px; font-weight: 400; line-height: 20px; }

/*百度上传*/
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    display: inline-block;
    position: relative;
    margin-right:15px;
    float: left;
}
.file-item.thumbnail .info{
    display: none;
}
.file-item.thumbnail .remove-picture{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 18px;
    color: #CA4949;
    cursor: pointer;
    display: none;
    z-index: 5;
}
.file-item.thumbnail .remove-picture:hover{
    color: #EC6969;
}
.file-item.thumbnail .move-picture{
    background: gainsboro;
    padding: 2px;
    cursor: move;
    color: #ABABAB;
    position: absolute;
    left: -6px;
    top: -5px;
    border-radius: 50%;
    display: none;
    z-index: 5;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.file-item.thumbnail:hover .remove-picture,
.file-item.thumbnail:hover .move-picture{
    display: block;
}
.file-item .progress.progress-xs{
    margin-bottom: 5px;
    margin-top: 5px;
}
.file-item .error,
.file-item .img-state{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.file-item .error{
    background: rgba(255, 0, 0, 0.67);
}
.file-item .success{
    background: rgba(25, 167, 75, 0.78);
}
.uploader-list .list-group-item img{
    width: 40px;
    height: 40px;
}
.file-item .fa-check {
    color: #68C39F;
    margin-top: 3px;
}

.progress.progress-mini {
    height: 5px;
}
.remove-margin {
    margin: 0 !important;
}
.progress {
    height: 24px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress.progress-mini .progress-bar {
    line-height: 5px;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-primary {
    background-color: #ff6b6b;
}
.progress-bar-primary {
    background-color: #5c90d2;
}
.progress-bar {
    line-height: 24px;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.sortable-ghost{opacity:.4}
.uploader-list .thumbnail>img {
    cursor: zoom-in;
}