{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">充值记录</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form search-from" method="get">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="username" placeholder="搜索玩家名称">
                    </div>
                    <a class="layui-btn search_btn" data-type="reload" id="search_name">搜索</a>
                </div>
                <div class="layui-inline">
                    <select name="usergamingstate" lay-verify="required" lay-filter="usergamingstate">
                        <option value="0" selected>未支付</option>
                        <option value="1">已支付</option>
                        <option value="2">已退款</option>
                    </select>
                </div>
            </form>
        </blockquote>

        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-danger confirm layui-batch-all" data-href='{:url("delete")}' isMember="0">批量删除</a>
    </div>
</script>
<script type="text/html" id="barTool">
    <!-- <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a> -->
    <a href='{:url("tuikuan")}?id={{ d.id }}' class="layui-btn layui-btn-xs">退款</a>
    <a href='{:url("delete")}?ids={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
</script>
{/block}
{block name="script"}
<script>
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$,
        form = layui.form;
    table.render({
        elem: '#dataTable',
        toolbar: '#toolbarDemo',
        url: '{:url("userchongzhi/manage")}',
        cols: [
            [
                { type: 'checkbox', fixed: 'left' },
                { field: 'id', width: 80, title: 'ID' },
                { field: 'username', width: 150, title: '玩家名称' },
                { field: 'orderid', width: 150, title: '订单号' },
                { field: 'tradeid', width: 150, title: '交易号' },
                { field: 'realmoney', width: 100, title: '充值金额' },
                { field: 'gamemoney', width: 100, title: '游戏币' },
                { field: 'type', width: 100, title: '充值类型' },
                { field: 'status', width: 100, title: '充值状态' },
                { field: 'remark', width: 260, title: '备注' },
                { field: 'rechargedate', width: 170, title: '交易时间' },
                { fixed: 'right', width: 200, title: '操作', templet: '#barTool' }
            ]
        ],
        page: {}
    });

    $("#search_name").on("click", function() {
        table.reload("dataTable", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                username: $("#username").val()
            }
        })
    });

    form.on('select(usergamingstate)', function(data) {
        table.reload("dataTable", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                curgamingstate: data.value
            }
        })
    });
});
</script>
{/block}