{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">CMS配置</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="">站点开关</label>
                <div class="layui-form-field-label">
                    <input type="checkbox" name="setting[web_site_status]" lay-skin="switch" lay-text="ON|OFF" value="1" {if 1 == $setting['web_site_status']}checked='' {/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">站点关闭后前台将不能访问</div>
            </div>
            <div class="layui-form-item">
                <label class="">回收站</label>
                <div class="layui-form-field-label">
                    <input type="checkbox" name="setting[web_site_recycle]" lay-skin="switch" lay-text="ON|OFF" value="1" {if 1 == $setting['web_site_recycle']}checked='' {/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">开启后，误删的文章可以恢复,反之不可还原</div>
            </div>
            <div class="layui-form-item">
                <label class="">站点名称</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[site_name]" placeholder="请输入站点标题" class="layui-input" value="{$setting['site_name']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">站点标题</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[site_title]" placeholder="请输入站点标题" class="layui-input" value="{$setting['site_title']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">站点关键词</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[site_keyword]" placeholder="请输入站点关键词"  class="layui-input" value="{$setting['site_keyword']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">站点描述</label>
                <div class="layui-form-field-label">
                    <textarea name="setting[site_description]" placeholder="请输入站点描述" class="layui-textarea">{$setting['site_description']}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">缓存时间</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[site_cache_time]" placeholder="请输入缓存时间"  class="layui-input" value="{$setting['site_cache_time']}">
                </div>
                <div class="layui-form-mid layui-word-aux">单页和详情页有效</div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
            </div>
        </form>
    </div>
</div>
{/block}